*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 24px;

}
h1, h2, h3, h4, h5, h6{
	font-family: 'Poppins', sans-serif;

}

a, a:hover{
	text-decoration: none;
}

/* header code start */
.col-lg-3{
	width: 25%;
	float: left;

}
.col-lg-4{
	width: 33.33%;
	float: left;
}
.col-lg-6{
	width: 50%;
	float: left;
}
.col-lg-9{
	width: 75%;
	float: left;
}
.col-lg-12{
	width: 100%;
	float: left;
}
.container{
	width: 1140px;
	margin: 0px auto;
}
.row{
	width: 100%;
	float: left;
}
.header{
	width: 100%;
	float: left;
	border-bottom: 1px solid #eee;
	padding: 15px 0px;
}


.header .logo{
	display: block;
	width: 100%;
}

.header .rakib{
	width: 100%;
	float: left;
	text-align: right;
}

.header .rakib li{
	list-style: none;
	display: inline-block;
	margin: 10px 0px 0px 0px;
}

.header .rakib li a{
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 500;
	color: #526285;
	margin: 0px 0px 0px 25px;
}

/* Online-business css code start */

.online-business{
	width: 100%;
	float: left;
	padding: 70px 0px;
	text-align: center;
}

.online-business h1{
	font-size: 70px;
	line-height: 80px;
	color: #0B2253;

}

.online-business h1 span{
	color: #36A3FF;

}

.online-business p{
	font-size: 14px;
	line-height: 24px;
	color: #0B2253;
	margin: 0px 0px 10px;

}

.online-business .business-img{
	width: 70%;
	margin: 20px 0px;
}

/* Online-business css code End */

/* successfull section css start */

.successfull{
	width: 100%;
	float: left;
	padding: 30px 0px 80px;
}

.successfull .left-text{
	width: 100%;
	float: left;
	text-align: right;
}
.successfull .left-text h3{
	font-size: 52px;
	line-height: 62px;
	color: #F05162;
	margin: 0px 10px 5px 0px;
}
.successfull .left-text h3 p{
	font-size: 14px;
	line-height: 24px;
	color: #526285 ;
	margin: 0px 15px 10px 0px;
}
.successfull .right-text{
	width: 100%;
	float: left;
}
.successfull .right-text h3{
	font-size: 52px;
	line-height: 62px;
	color: #061E4F;
	margin: 0px 20px 5px;
}

/* successfull section css End */

/* feature section css start */

.feature{
	width: 100%;
	float: left;
	padding: 0px 0px 80px;
}
.inner-feature{
	width: 75%;
	float: left;
	padding: 40px;
	margin: 0px 20px;
}
.inner-feature img{
	width: 100%;
	height: 180px;
}
.cl1{
	background: #FDEBED;
}
.cl2{
	background: #EBF9F4;
}
.cl3{
	background: #FFF7E8;
}
.inner-feature h4{
	font-size: 20px;
	line-height: 30px;
	color: #0B2253;
	margin: 0px 0px 10px;
}
.inner-feature p{
	font-size: 14px;
	line-height: 24px;
	color: #0B2253;
}
/* feature section css End */

/* footer section  css start */

.footer{
	width: 100%;
	float: left;
	padding: 30px 0px;
	background: #008AFF;
}
.footer p{
	font-size: 14px;
	line-height: 24px;
	color: #0B2253;
	text-align: center;
	letter-spacing: 2px;
}
.footer p a{
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
.header .rakib li a:hover, .header .rakib li a:focus{
	color: #008AFF;
}
/* footer section  css End */

















































